{{ 'three-column-card.css' | asset_url | stylesheet_tag }}


<div class="section-three-column">
  <div class="section-container">
    <div class="three-column-card">

        {% for block in section.blocks%}
            <div class="image-card">
                {{ block.settings.image | image_url: width: 485 | image_tag:
                    loading: 'lazy',
                    widths: '485, 550, 710, 1420',
                    class: 'multicolumn-card__image'
                  }}
                <div class="card-detail">
                    <h4>{{ block.settings.title | escape }}</h4>
                    {{ block.settings.desc }}
                    {%- if block.settings.link_label != blank -%}
                        <a {% if block.settings.link == blank %}role="link" aria-disabled="true"{% else %}href="{{ block.settings.link }}"{% endif %}>{{ block.settings.link_label | escape }}<span class="icon-wrap">&nbsp;{% render 'icon-arrow' %}</span></a>
                    {%- endif -%}
                   
                </div>
              </div>
        {% endfor %}

    </div>
  </div>
</div>


{% schema %}
  {
    "name": "t:sections.three-colum.name",
    "class": "section",
    "settings": [
      
    ],
    "blocks": [
        {
          "type": "column",
          "name": "t:sections.three-colum.blocks.column.name",
          "limit": 3,
          "settings": [
            {
              "type": "image_picker",
              "id": "image",
              "label": "t:sections.three-colum.blocks.column.settings.image.label"
            },
            {
              "type": "text",
              "id": "title",
              "default": "Title",
              "label": "t:sections.three-colum.blocks.column.settings.title.label"
            },
            {
              "type": "richtext",
              "id": "desc",
              "default": "<p>text with image</p>",
              "label": "t:sections.three-colum.blocks.column.settings.title.label"
            },
            {
                "type": "text",
                "id": "link_label",
                "label": "t:sections.three-colum.blocks.column.settings.link_label.label"
            },
            {
                "type": "url",
                "id": "link",
                "label": "t:sections.three-colum.blocks.column.settings.link.label"
            }
         ]
       }
    ],
    "presets": [
      {
        "name": "t:sections.three-colum.presets.name"
      }
    ]
  }
{% endschema %}

